.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  margin-top: 1rem;
}
.Navbar__title {
  margin: 0;
}
.Navbar__links {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.Navbar__links button {
  padding: 0 15px;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  transition: all 0.5s ease;
}
.Navbar__links button:hover {
  background: rgba(0, 0, 0, 0.2);
}
